extends layout


block content
	.container
		-var searchResults = results //- Get search results
		h1 Search results
		- for(var i = 0; i < searchResults.length; ++i){
			.col-md-3
				img(src=searchResults[i].image, alt=searchResults[i].bookname, align='middle', style='width:150px;height:150px;')
				p= searchResults[i].bookname
				p= 'Author: '+searchResults[i].author
				//- p= searchResults[i].description
				p= 'Price: $'+searchResults[i].price
				| &nbsp;
				button.btn.btn-primary(type='Purchase') Purchase
				| &nbsp;
				button.btn.btn-primary(type='Purchase') Add to Cart
		-}