extends layout


block content
    .container
      .row
        .col-md-3
          p.lead Genres
          .list-group
          a.list-group-item(href='#') Fiction
          a.list-group-item(href='#') Non-Fiction
          a.list-group-item(href='#') Sci-Fi

      .row
        .col-sm-4.col-lg-4.col-md-4
          .thumbnail
            img(src='/images/'+results[0].book+'.jpg', alt='')
            .caption
              h4.pull-right $24.99
              h4
                a(href='#') First Product
              p=results[0].book
              p				
                a.btn-btn-default(href='/') Purchase
              p
              <button data-action="bea" class="btn btn-primary" onclick="add_to_cart('#{results[0].id}', '#{results[0].book}')">Add to Cart</button>		
        .col-sm-4.col-lg-4.col-md-4
          .thumbnail
            img(src='/images/'+results[1].book+'.jpg', alt='')
            .caption
              h4.pull-right $64.99
              h4
                a(href='#') Second Product
              p=results[1].book
              p				
                a.btn-btn-default(href='/') Purchase
              p
              <button data-action="bea" class="btn btn-primary" onclick="add_to_cart('#{results[1].id}', '#{results[1].price}')">Add to Cart</button>		
        .col-sm-4.col-lg-4.col-md-4
          .thumbnail
            img(src='/images/'+results[2].book+'.jpg', alt='')
            .caption
              h4.pull-right $44.99
              h4
                a(href='#') Third Product
              p=results[2].book
              p				
                a.btn-btn-default(href='/') Purchase
              p
              <button data-action="bea" class="btn btn-primary" onclick="add_to_cart('#{results[2].id}', '#{results[2].price}')">Add to Cart</button>		

script(src='/public/javascripts/addToCart.js')